.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    h1 {
      margin: 0;
    }
    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      margin: 1rem 0;
      gap: 0.5rem;
      h1 {
        text-align: center;
      }
      input {
        width: 100%;
      }
    }
  }
  .page-content {
    background-color: $accent-light;
    flex: 1 1 auto;
    border-bottom: 2rem solid transparent;
    background-clip: padding-box;
    height: calc(100% - 4rem - 35px);
    @include mobile {
      border-bottom-width: 1rem;
    }
  }
}