table {
  border-collapse: collapse;
  width: 100%;
  tr {
    border-bottom: 1px solid $accent-color;
    &.clickable-tr {
      cursor: pointer;
      &:hover {
        background-color: $border-color;
      }
    }
    th {
      padding: 1rem;
      font-size: 0.875rem;
      font-weight: bold;
      color: $accent-color;
      text-align: left;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &.sticky {
        position: sticky;
        top: 0;
        background-color: $background-color;
      }
      @include mobile {
        padding: 0.5rem;
      }
    }
    td {
      padding: 1rem;
      color: $text-color;
      font-size: 0.875rem;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      @include mobile {
        padding: 0.5rem;
      }
    }
  }
}
